@charset "utf-8";
/* CSS Document */
/* Written by Ryan Dumlao */
/* www.ryandumlao.com */
/* July 22, 2013 */
html{
	overflow-x:hidden;
	overflow-y:scroll;
}

body{
	font-family: 'Muli', sans-serif;
	font-weight:300;
	color: #fff;
	padding:0;
	margin:0;
	background-image: url(seamlesstexture2_1200.jpg);
}

article{
	padding-top:120px;
}

h1{
	font-size:1.5em;
	text-shadow: 2px 2px 1px #000;
}

a:link, a:visited{
	color:#FFF;
	padding:2px;
	text-decoration:none;
}

a:hover{
	background-color:rgba(204, 255, 17, 0.6);
	border-radius:5px;
	padding:2px;
}
a img{
	border:none;
}

/* section formatting CSS code */
section{
	background-color:rgba(0,0,0,0.3);
	border: 2px solid black;
	margin: 00px auto 0px;
	padding:10px ;
	border-radius:25px;
	border-top-left-radius:0px;
	z-index:1;
}

#blankContent{
	position:relative;
	height:800px;
	top:0;
	bottom:0;
}


/*main bar CSS code */

#page{
	width:100%;
	height:100%;
	margin-top:10px;
	text-align:center;
	z-index:-1;
}

#content{
	width: 800px;
	position:relative;
	margin:auto;
	text-align:left;
	z-index:1;
}

#mainBar{
	width:800px;
	bottom: 200px;
	left:50%;
	margin-left:-400px;
	z-index:10;
}

/* navi related CSS code */
#navBar{
	position:relative;
	background-color:#000;
	color:white;
	line-height:10px;
	font-size:1.5em;
	border: 2px solid black;
	border-top-left-radius: 25px;
}

nav{
	height:40px;
}

nav li{
	margin-top:0;
	top:0;
	display:inline;
	position:absolute;
	padding:16px;
}


.navCat{
	cursor:pointer;
	position:relative;
	height:40px;
	margin:auto;
	text-align:center;
}


#nameBar{
	height:200px;
	background-color:#cf1;
	padding:10px;
	border-bottom-right-radius:25px;
}

#nameBar h1{
	padding-left:30px;
	font-size:5em;
	text-shadow: 3px 3px 2px #000;
	z-index:5;
}

#nameBar h2{
	font-size:2.5em;
	color:#000;
}

#nameBar:hover{
	cursor:pointer;
}

#nameBarInset{
	position:relative;
	top:-160px;
	left: 200px;
	z-index:1;
}


/*smooshBar sets for jQuery calls*/
.smooshBar#mainBar{
	bottom:0;
    width:800px;
 	margin-left:-400px;
}

.smooshBar#navBar, .smooshBar#nameBar{
	height:50px;
	border-bottom-right-radius:0;
}

.smooshBar#navBar{
	border-top-right-radius:25px;
}

.fullBar#nameBarPrimary{
	position:relative;
	top:-70px;
}

.smooshBar#nameBarPrimary{
	position:relative;
	top:-50px;
}


/*utility CSS classes*/
.fixedPos{
	position:fixed;
}

.absolutePos{
	position:absolute;
}

.hidden{
	display:none;
}


/*popup tab CSS*/

.popUp{
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	margin:auto;
	background-color:#000;
	bottom:0;
	z-index:-1;
	border-radius:15px;
	text-align:center;
}

.popUpBG{
	margin-top:4px;
	width:100%;
	height:67px;
	z-index:4;
}

.aboutPopUpBG{
	background: url(icons/about.png) no-repeat center top;	
}

.resumePopUpBG{
	background: url(icons/resume.png) no-repeat center top;
}

.portfolioPopUpBG{
	background: url(icons/portfolio.png) no-repeat center top;

}

.contactPopUpBG{
	background: url(icons/contact.png) no-repeat center top;
}

/*icon CSS for each content article*/
.contentIcon{
	background-color:#000;
	position:relative;
	float:left;
	width:78px;
	height:70px;
	left:-78px;
	padding-top:15px;
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
}

/*page specific CSS*/

#disclaimer{
	color:#888;
}

figure img{
	float:right;
	border: 3px solid black;
	border-radius:15px;
	margin-right:-20px;
	margin-left: 20px;
}

/*resume*/
.resumecat li{
	list-style:none;
}

/*portfolio*/
.webWindow:hover{
	cursor:pointer;
}

.webWindow{
	position:relative;
	text-align:center;
	background:rgba(0,0,0,.3);
	display:inline-block;
	border:3px solid black;
	border-radius:10px;
	padding:5px 0 0;
	margin: 5px -1px auto;
	width:250px;
	height:204px;
}

.webWindowSubText{
	position:absolute;
	bottom:0px;
	top:0px;
	text-align:center;
	width:100%;
border-radius: 5px;
}

#shibataFloral{
	background: url(portfolio/webdesign_1.jpg);
}

#ryanDumlaoV1{
	background: url(portfolio/webdesign_2.jpg);
}

#ucsdNSU{
	background:url(portfolio/webdesign_3.jpg);
}

/*contact*/

#contactButtonWrapper{
	position:relative;
	margin: auto;
	text-align:right;
}

#contactButtonWrapper li{
	display:inline-block;
	padding:10px;
}

#contactButtonWrapper a:hover{
	text-decoration:none;
	background-color:rgba(0,0,0,0);
}

